#header {
    background-color: rgba(224, 198, 248, 0.49);
    padding-top: 25px;
    padding-bottom: 25px;
}

#help_button {
    border-radius: 15px;
    background: rgba(226, 179, 7, 0.73);
    border-color: black;
    color: black;
    width: 115px;
    margin-bottom: 5%;
}

#home_button {
    border-radius: 15px;
    background-color: #550497;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    margin-bottom: 5%;
}

#clock {
    background: rgba(226, 179, 7, 0.73);
    color: black;
    border-radius: 15px;
    padding-top: 5%;
}