.emb {
    width: 100%;
    height: 200px;
}

#songs {
    margin-top: 2%;
}

#header {
    background-color: rgba(224, 198, 248, 0.49);
    padding-top: 25px;
    padding-bottom: 25px;
}


#help_button {
    border-radius: 20%;
    background-color: rgb(255, 128, 0);
    border-color: black;
    color: rgb(255, 255, 255);
}

#home_button {
    border-radius: 20%;
    background-color: rgb(85, 4, 151);
    border-color: black;
    color: rgb(255, 255, 255);
}

#clock {
    background: #4C651A;
    color: white;
}


.card {
    background-color: #4C651A;
    color: white;
}