.emb {
    width: 100%;
    height: 200px;
}

#songs {
    margin-top: 2%;
}

.card {
    background-color: #4C651A;
    color: white;
}

#search_button {
    background-color: #4C651A;
}

.song_button {
    background-color: #4C651A;
    color: white;
}

#yt_button {
    background-color: #4C651A;
    color: white;
}