#add_button {
    background-color: #4C651A;

}

#back {
    border-radius: 15px;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #4C651A;
    margin-left: 15px;
}

#name {
    padding-right: 5px;
}

#username {
    padding-left: 10px;
    padding-right: 10px;

}

.collab {
    margin-bottom: 20px;
}

#heading {
    border-radius: 15px;
    background-color: #e2b307ba;
    height: 125px;
}

#how_to {

    border-radius: 15px;
    background-color: #4C651A;
    color: white;
    height: 125px;
}

#code_button {
    margin-left: 0;
    margin-top: 0px;
}

li {
    padding-left: 20px;
}