#main_row {
    padding-top: 20px;
}

#spotify_row {
    padding-top: 0;
}

.card {
    background-color: rgb(255, 255, 157);
}

#add {
    color: #ffffff;
    background-color: #4C651A;
    border-radius: 10px;
}

#picture {
    width: 300px;
    max-height: 300px;
    overflow: hidden;
}

#uploaded_vid {
    /* width: 300px;
    max-height: 300px; */
    overflow: hidden;
}

#youtube {
    max-width: 350px;
    max-height: 400px;
    overflow: hidden;
}

#back {
    border-radius: 15px;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #4C651A;
    margin-left: 15px;

}

#notes_button {
    background-color: #4C651A;
    color: white;
    border-width: 2px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;

}

#spotify {
    height: 100px;
    width: 100%;
    margin-top: 3%;
    display: block;
    border-radius: 12px;
}

#delete {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(238, 51, 51, 0.514);
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

#activities {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #4C651A;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

#modal_button {
    background-color: #550497;
    border-radius: 10px;
}