#spotify_row {
    padding-top: 0;
}

.card {
    background-color: #fff399e4;
}

.note {
    width: 100%;
}

#add {
    color: white;
    background-color: #4C651A;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    transition: .3s;
}

#add:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.1.5);
}

#picture {
    width: 400px;
    max-height: 500px;
    overflow: hidden;
    margin-top: auto;
}

#uploaded_vid {
    overflow: hidden;
    margin-top: 0;
    position: relative;
    padding-bottom: 30%;
}

#youtube {
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
}

#back {
    border-radius: 15px;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #550497;

    margin-left: 15px;

}

#notes_button {
    background-color: #4C651A;
    color: white;
    border-width: 2px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;

}

#spotify {
    height: 100px;
    width: 100%;
    margin-top: 3%;
    display: block;
    border-radius: 12px;
}

#sharing {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #4C651A;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    transition: .3s;
}

#sharing:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.2);
}

#activities {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #86af347c;
    color: black;
    font-weight: bold;
    margin-right: 50px;
    transition: .3s;
}

#activities:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.2);
}

#modal_button {
    color: black;
    background-color: rgba(224, 198, 248, 0.745);
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 5px;
    z-index: 10;
    transition: .3s;

}

#modal_button:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.1.5)
}