#main_row {
    padding-top: 20px;
}

#spotify_row {
    padding-top: 0;
}

.card {
    background-color: rgb(255, 255, 157);
}

#add {
    color: #ffffff;
    background-color: #4C651A;

}

#picture {
    width: 300px;
    max-height: 300px;
    overflow: hidden;
}

#uploaded_vid {
    width: 600px;
    max-height: 500px;
    overflow: hidden;
}

#youtube {
    width: 350px;
    max-height: 400px;
    overflow: hidden;
}

#back {
    border-radius: 15px;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #4C651A;
    margin-left: 15px;

}

#notes_button {
    background-color: #4C651A;
    color: white;
    border-width: 2px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;

}

#spotify {
    height: 100px;
    width: 50%;
    margin-top: 3%;
}