body {
    background-color: rgba(224, 198, 248, 0.085);
    font-weight: bold;
    font-size: large;
}

#box {
    background-color: white;
}

#register {
    background-color: #4C651A;
    color: white;
}