#collab_button {
    border-radius: 20%;
    border-color: black;
    color: rgb(255, 255, 255);
}

#contents {
    margin-left: 200px;
    padding-bottom: 0px;
    padding-top: 15px;
}

#sharing {
    width: 150px;
    height: 100px;
    margin-top: 15px;

}

#settings {
    background-color: #4C651A;
}

.card {
    background-color: #4C651A;
    color: white;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    /* max-width: 100%;
    max-height: 250px; */
}

#contents {
    height: 20%;
    text-align: center;
}

.btn-group {
    display: inline-block;
    max-height: 100px;
    padding-top: 0;
}

#card-link {
    color: white;
    text-align: center;
}

#random_text {
    color: black;
}

#add {
    color: #ffffff;
    background-color: #4C651A;
}

#picture {
    width: 100%;
    max-height: 200px;
}

#create-card {
    background-color: rgba(74, 1, 74, 0.786);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    border: black;
    border-width: medium;
    margin: 0 auto;
    margin-bottom: 2%;
}

#add-icon {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    margin-top: 2%;
}

#shuffle-icon {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    margin-top: 2%;
}

#random-card {
    background-color: rgba(226, 179, 7, 0.73);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    border: black;
    border-width: 2px;
    margin: 0 auto;
    margin-bottom: 2%;
}

#row1 {
    padding-top: 20px;
}

#page_side {
    border-left-width: 5px;
}

#sharing_card {
    background-color: #4C651A;
    border-radius: 20%;
}

/* 
#left_side {
    border-right: black;
    border-right-width: 10px;
    border-right-style: ridge;
} */

#activities {
    border-radius: 15px;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #4C651A;
    margin-left: 15px;
}

.card {
    transition: .3s;
}

.card:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.2);
}