#collab_button {
    border-radius: 20%;
    border-color: black;
    color: rgb(255, 255, 255);
}

.card {
    background-color: #4C651A;
    color: white;
    margin: 0 auto;

}

#card-link {
    color: white;
    text-align: center;
}

#add {
    color: #ffffff;
    background-color: #4C651A;
}

#picture {
    width: 100%;
    max-height: 200px;
}

#create-card {
    background-color: rgba(74, 1, 74, 0.786);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 14rem;
    height: 90%;
    border: black;
    border-width: medium;
    margin: 0 auto;
    margin-bottom: 2%;
}

#add-icon {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    margin-top: 2%;
}

#shuffle-icon {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    margin-top: 2%;
}

#random-card {
    background-color: rgb(255, 128, 0);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 14rem;
    height: 90%;
    border: black;
    border-width: medium;
    margin: 0 auto;
    margin-bottom: 2%;
}

#row1 {
    padding-top: 20px;
}