#collab_button {
    border-radius: 20%;
    border-color: black;
    color: rgb(255, 255, 255);
}

#contents {
    margin-left: 200px;
    padding-bottom: 0px;
    padding-top: 15px;
}

#sharing {
    width: 150px;
    height: 100px;
    text-align: center;
    margin-left: 490px;

}

#settings {
    background-color: #4C651A;
    height: 100px;
}

.card {

    color: white;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    /* max-width: 100%;
    max-height: 250px; */
}

#contents {
    height: 20%;
    text-align: center;
}

.btn-group {
    display: inline-block;
    max-height: 100px;
    padding-top: 0;
}

#card-link {
    color: black;
    text-align: center;
}

#random_text {
    color: black;
}

#add {
    color: #ffffff;
    background-color: #4C651A;
    border: 3px solid black;
}

#picture {
    width: 100%;
    max-height: 200px;
}

#create-card {
    background-color: rgba(73, 73, 73, 0.271);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-width: medium;
    margin: 0 auto;
    margin-bottom: 2%;
}

#add-icon {
    height: 5rem;
    width: 5rem;
    margin-left: 30%;
    margin-top: 2%;
}

#shuffle-icon {
    height: 5rem;
    width: 5rem;
    margin-left: 30%;
    margin-top: 2%;

}

#random-card {
    background-color: rgba(226, 179, 7, 0.73);
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-width: 2px;
    margin: 0 auto;
    margin-bottom: 2%;
}

#row1 {
    padding-top: 20px;
}

#page_side {
    border-left-width: 5px;
}

#sharing_card {
    background-color: #4C651A;
    border-radius: 20%;
}

#activities {
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: 115px;
    background-color: #4C651A;
    margin-left: 15px;
    border: 3px solid black;
}

.card {
    transition: .3s;
}

.card:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.523);
    transform: scale(1.2);
}

.title {
    border: 3px solid #550497;
    box-shadow: 6px 4px #550497;

    /* rgb(243, 54, 54); */
}

#content {
    border-top: 0.5px solid grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
}

#paint_icon {
    height: 5rem;
    width: 5rem;
    margin-left: 30%;
    margin-top: 2%;
}

#activity_card {
    background-color: #86af347c;
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-width: medium;
    margin: 0 auto;
    margin-bottom: 2%;
}

#activity_text {

    color: black;

}

#title {
    background-color: rgba(224, 198, 248, 0.49);
    color: black;
}

#new_page {
    color: black;
    text-align: center;
}